    <main>

        <div class="container">
            <!-- HEADER -->
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="https://rasb.ddns.net" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <b>Risk Accounting - QQMS</b>
                </a>

            </header>
            <!-- END HEADER -->

            <div class="col-xxl-12 px-3 py-3">
                <div class="row flex-lg-row-reverse align-items-center g-3 py-3">
                    <div class="col-12 col-sm-8 col-lg-6">
                        <img src="/img/rasb_logo.png" class="d-block mx-lg-auto img-fluid"
                            alt="Risk Accounting" loading="lazy">
                        <div class="col">
                            <h4 class="text-center">This is the main place for Risk Accounting wisdom!</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">404 Page Not Found!</h1>
                        <p class="lead">
                            The requested page does not exist. If you got to this page by clicking a link, please notify us so we can fix this error. Thank you!
                        </p>
                        <p>
                            Please go to the rasb.ddns.net <a href="https://rasb.ddns.net">home page</a>.
                        </p>
                    </div>
                </div>

            </div>

            <!-- FOOTER -->
            <footer class="d-flex justify-content-between py-4 my-4 border-top">
                <div class="col-md-12">
                    <!-- ShareThis BEGIN -->
                    <div class="sharethis-inline-follow-buttons"></div>
                    <!-- ShareThis END -->
                    <br>
                    <p>&copy; 2022 Risk Accounting &middot; If you are looking for a professional advisory, please <a href="mailt&#111;&#58;c&#111;&#110;%74a&#99;&#37;&#55;4&#64;d%6&#49;tastem&#37;61&#46;i%&#54;F">Contact Us</a></p>
                </div>
            </footer>
            <!-- END FOOTER -->

        </div>

    </main>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>