

    <main>

        <div class="container">
            <!-- HEADER -->
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="https://rasb.ddns.net" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <b>Data Platform Generator</b>
                </a>

            </header>
            <!-- END HEADER -->

            <div class="col-xxl-12 px-3 py-3">
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">50x Web Server Error!</h1>
                        <p class="lead">
                            Sorry, the page you are looking for is currently unavailable. If you are the system administrator of this resource then you should check
                            the error log for details. Thank you!
                        </p>
                        <p>
                            Please try again later to access the DataPlatformGenerator.com <a href="https://rasb.ddn.net">home page</a>.
                        </p>
                    </div>
            </div>

            <!-- FOOTER -->
            <footer class="d-flex justify-content-between py-4 my-4 border-top">
                <div class="col-md-12">
                    <p>&copy; 2021 Data Stema, Sàrl &middot; If you are looking for a professional advisory, please <a href="mailt&#111;&#58;c&#111;&#110;%74a&#99;&#37;&#55;4&#64;d%6&#49;tastem&#37;61&#46;i%&#54;F">Contact Us</a></p>
                </div>
            </footer>
            <!-- END FOOTER -->

        </div>

    </main>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>